body {
  margin: 0;
  padding: 0;
}

/* a태그 하이라이트 숨기기 */
a {
  all: unset;
  cursor: pointer;
}

/* flex filter */
.filter {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

/* focus되는 테그들의 클릭 시 하이라이트 제거 */
*:focus {
  outline: none;
}
