.user-name {
    font-size: 30pt;
}

.user-address {
    font-size: 20pt;
    color: darkgray;
}

.user-address:hover {
    text-decoration: underline;
}

.user-name:hover {
    text-decoration: underline;
}