.user-name-id {
    display: inline-block;
    position: relative;
    top: -150px;
    left: -170px;
}

.user-name {
    font-size: 30pt;
    font-weight: bold;
}

.user-name:hover {
    text-decoration: underline;
}

.user-address {
    font-size: 20pt;
    color: darkgray;
}

.user-address:hover {
    text-decoration: underline;
}